.container{
  width: $cien-porciento;
  max-width: 1200px;
  margin: 0 auto;
}
.row{
  &:before{
    content: " ";
    display: table !important;
  }
  &:after{
    @extend .row:before;
    clear: both;
  }
}
[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}
@media screen and (max-width: $break-small) {
  /* probando las funciones en Sass*/
  @function grid($num,$cols){
    @return percentage($num/$cols);
  }
  @for $i from 1 through 12 {
    .sm-#{$i}{
      width: grid($i,12);
    }
  }
}

 @media screen and (min-width: $break-medium) {
  /* probando las funciones en Sass*/
  @function grid($num,$cols){
    @return percentage($num/$cols);
  }
  @for $i from 1 through 12 {
    .m-#{$i}{
      width: grid($i,12);
    }
  }
}

@media screen and (min-width: $break-large) {
 /* probando las funciones en Sass*/
 @function grid($num,$cols){
   @return percentage($num/$cols);
 }
 @for $i from 1 through 12 {
   .lg-#{$i}{
     width: grid($i,12);
   }
 }
}
