$break-small: 500px;
$break-medium:768px;
$break-large: 1200px;
$centrar-texto:center;
$background--color:#161616;
$red--principal:#c62323;
$icon--color:#1e2023;
$font--color:#ffffff;
$font--color--active:#ffffff;
$font--primary:'Fira Sans', sans-serif;
$transition--length: .8;
$cien-porciento:100%;
